<html>
    <head>
        <title>Sarp Yokuş Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sarp Yokuş Blog</a></h1>
        </div>

        <div>
            <p>published: 02.11.2017, 12:14</p>
            <h2><a href="">İstiklal Marşı</a></h2>
            <p>Korkma sönmez bu şafaklarda yüzen al sancak. </p>
        </div>

        <div>
            <p>published: 02.11.2017, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>
